@font-face {
    font-family: 'opticalculatorregular';
    src: url('./resources/opticalculator-webfont.woff2') format('woff2'),
         url('./resources/opticalculator-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#calcContainer{
  width: 350px;
  height: 470;
  margin: auto auto;
  padding: 20px;
}
#topBar{
  border: 1px solid black;
  width: 100%;
  height: 60px;
  margin: 0px auto;
  position:relative;
  background-color: #032f00;
  color:#78fd54;
  font-family: 'opticalculatorregular';
}
#error{
  display: inline-block;
  font-size: 30px;
  position:absolute;
  bottom:0;
}
#display{
  display: inline-block;
  font-size: 50px;
  position:absolute;
  bottom:0;
  right: 0;
}
#mainBar{
  width: 100%;
  height: 300px;
  margin: 20px auto;
  position:relative;
}
button:focus {
  outline: 0;
}
/*FOR FIREFOX*/
button::-moz-focus-inner {
  border: 0;
}


/*OPERATORS*/
#operators{
  height: 100%;
  width:25%;
  float: right;
  display: flex;
  flex-direction:column;
}
#operators div{
  width:100%;
  flex-grow: 1;
}
#operators div button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgb(0,0,0,0.2);
  font-family: helvetica,sans-serif;
  font-size: 40px;
  color: rgb(255,255,255,0.4);
  background-color: #4c4c4d;
  box-shadow: 0 5px #4c4c4d;
}

#operators div button:active{
  background:radial-gradient( 60% 60%, #666668, #4c4c4d);
  color:#1229f8;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.operatorsDown{
  background:radial-gradient( 60% 60%, #666668, #4c4c4d);
  color:#1229f8 !important;
  box-shadow: 0 2px #666;
  transition: transform 50ms;
  transform: translateY(4px);
}

/*EQUALS*/
#equals{
  width: 100%;
  height: 70px;
  margin: 0px auto;
  position:relative;
}
#equals button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgb(0,0,0,0.2);
  font-family: helvetica,sans-serif;
  font-size: 40px;
  color: rgb(255,255,255,0.4);
  background-color: #4c4c4d;
  box-shadow: 0 5px #4c4c4d;
}

#equals button:active{
  background:radial-gradient( 60% 60%, #666668, #4c4c4d);
  color:#f12819;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.equalsDown{
  background:radial-gradient( 60% 60%, #666668, #4c4c4d);
  color:#f12819 !important;
  box-shadow: 0 2px #666;
  transition: transform 50ms;
  transform: translateY(4px);
}

/*NUMBERS*/
#numbers{
  height: 100%;
  width:70%;
  float: left;
  display: flex;
  flex-direction: column;
}
#numbers div{
  width: 100%;
  height: 100%;
  display: flex;
}
#numbers div button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgb(0,0,0,0.2);
  font-family: 'opticalculatorregular';
  font-size: 40px;
  color: rgb(255,255,255,0.4);
  background-color: #4c4c4d;
  box-shadow: 0 5px #4c4c4d;
}

#numbers div button:active{
  background:radial-gradient( 60% 60%, #666668, #4c4c4d);
  color:#78fd54;
  box-shadow: 0 2px #666;
  transition: transform 50ms;
  transform: translateY(4px);
}

.numbersDown{
  background:radial-gradient( 60% 60%, #666668, #4c4c4d);
  color:#78fd54 !important;
  box-shadow: 0 2px #666;
  transition: transform 50ms;
  transform: translateY(4px);
}

#bgContainer{
  margin: 50px auto;
  display: flex;
  align-items: center;
  width: 485px;
  height: 581px;
  background-image: url("resources/images/Back_Full.png");
  background-repeat: no-repeat;
  background-position: 15px 0px;
}

img{
  position:absolute;
  z-index: 10;
  padding-left: 15px;
  pointer-events: none;
}